* {
    margin: 0; 
    padding: 0;
}

@font-face {
    font-family: 'clarendon-bold';
    src: url('../fonts/Clarendon-Bold.ttf');
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'nunito';
    src: url('../fonts/Nunito-VariableFont_wght.ttf');
}

:root {
        
    /* TITULOS */
    --size-title: 50px;
    --color-title: white;
    --text-aling-title: center;

    /* SUB TITULOS */
    --size-subtitle: 35px;
    --color-subtitle: white;
    --text-aling-subtitle: left;
    --margin-subtitle: 15px;
    --padding-subtitle: 15px;

    /* IMAGEN HEADER */
    --width-img-header: 100%;
    --height-img-header: auto;

    /* TEXTOS */
    --color-text: rgb(172, 172, 172);
    --size-text: 18px;
    --aling-text: justify;
    --margin-text: 15px;
    --padding-text: 5px;
}


/* Estilo Body */

body {
    background-color: rgb(0, 5, 14);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.h1-index {
    font-family: 'clarendon-bold';
    text-align: var(--text-aling-title);
    font-size: 60px;
    color: var(--color-title);
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

@media screen and (max-width: 480px) {
    .h1-index {
        font-size: 30px;
    }
}

@media screen and (min-width: 481px) and (max-width: 1100px) {
    .h1-index {
        font-size: 40px;
    }
}


h2 {
    font-family: 'lato';
    text-align: var(--text-aling-subtitle);
    font-size: var(--size-subtitle);
    color: var(--color-subtitle);
    margin-left: var(--margin-subtitle);
    padding: var(--padding-subtitle);
}

@media screen and (max-width: 480px) {
    h2 {
        font-size: 28px;
    }
}

@media screen and (min-width: 481px) and (max-width: 1100px) {
    h2 {
        font-size: 35px;
    }
}

p {
    font-family: 'nunito';
    color: var(--color-text);
    font-size: var(--size-text);
    text-align: var(--aling-text);
    margin: var(--margin-text);
    padding: var(--padding-text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Fin estilo Body */


/* Estilos Header */

#header {
    width: 100%;
}

.nav-header{
    background-color: rgb(0, 9, 27);
    margin: 0%;
    padding: 0%;
}

.logo-inicio {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.li-header {
    padding: 0 30px;
}

/* INICIO ANIMACIONES DE HEADER PARA DESKTOP */
@media screen and (min-width: 992px){
    .li-header {
        transition: all 1.25s;
    }
    
    .li-header:hover {
        transform: scale(1.25);
    }
}
/*FIN ANIMACIONES DE HEADER PARA DESKTOP*/

.li-header a {
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(172, 172, 172);
    font-size: 20px;
}

.li-fechas a {
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(0, 9, 27);
    font-size: 18px;
}

.img-header {
    width: 100%;
    height: var(--height-img-header);
    border-top: 4px solid rgb(172, 172, 172);
    border-bottom: 4px solid rgb(172, 172, 172);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

/* Fin estilos header*/


/* Estilos Index */

.musica-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.banner-musica {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.banner-musica img {
    display: flex;
    justify-content: center;
}

.spotify-index {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    transition: all 1.25s;
}

.spotify-index:hover {
    transform: scale(1.10);
}

.discografia-index {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    transition: all 1.25s;
}

.discografia-index:hover {
    transform: scale(1.10);
}

.discografia-index img {
    width: auto;
    height: auto;
    border-radius: 12px;
}

/* INICIO MUSICA PARA MOBILE*/
@media screen and (max-width: 769px) {
    .banner-musica {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .discografia-index {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .discografia-index a {
        display: flex;
        justify-content: center;
    }

    .discografia-index img {
        width: 75%;
        height: auto;
        border-radius: 12px;
    }
}
/* FIN MUSICA PARA MOBILE*/

/* Fin estilos Index*/


/* Estilo La Banda */

.text-banda p {
    text-align: justify;
    display: flex;
    justify-content: center;
}

.section-banda {
    width: 100%;
}

.section-img ul {
    list-style: none;
}

.banda-image {
    width: 400px;
    height: auto;
    margin-left: 10px;
    padding: 10px;
}

.image2 {
    margin: 100px 0;
}

/* INICIO IMAGENES DE LA BANDA PARA MOBILE*/
@media screen and (min-width: 1200px) {
    .carrousel-banda {
        display: none;
    }
}

@media screen and (max-width: 1199px) {
    .section-img {
        display: none;
    }
}
/* FIN IMAGENES DE LA BANDA PARA MOBILE*/

.integrantes {
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.integrantes-container {
    width: 100%;
}

.integrantes-container ul {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.integrantes-container ul li {
    list-style: none;
}

.image-integrantes {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.nombre-integrantes {
    margin-top: 15px;
    padding: 0%;
}

.image-integrantes {
    width: 100%;
    height: auto;
    margin-top: 30px;
}


.integrantes-container ul li a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.integrantes-container ul li a p {
    width: 100%;
    font-family: 'nunito';
    color: var(--color-text);
    font-size: 15px;
}

/* INICIO SECCION INTEGRANTES PARA MOBILE*/
@media screen and (max-width: 480px) {
    .integrantes {
        width: 100%;
    }

    .integrantes h2 {
        display: flex;
        justify-content: center;
        margin: 0%;
    }

    .integrantes-container ul {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .integrantes-container ul li {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
    .integrantes {
        width: 100%;
    }

    .integrantes h2 {
        display: flex;
        justify-content: center;
        margin: 0%;
    }

    .integrantes-container ul {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    .integrantes-container ul li {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
/* FIN SECCION INTEGRANTES PARA MOBILE */

/* Fin estilo La Banda */


/* Estilo discografia */


.nav-discography ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.li-discography-cd {
    display: inline-block;
    flex-wrap: wrap;
}

.li-discography-cd a {
    display: flex;
    justify-content: center;
}

.discography-cd {
    width: 250px;
    height: auto;
    margin: 30px;
    padding: 15px;
}

.container-cd {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 40px;
    margin-bottom: 20px;
}

h2 {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-family: 'lato';
}

.tapa-cd {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tapa-cd img {
    width: 70%;
    height: auto;
}

.spotify-cd {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h3-discografia {
    font-family: 'nunito';
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    display: flex;
    justify-content: flex-start;
}

.nombre-temas {
    font-family: 'nunito';
    color: white;
    font-size: var(--size-text);
    margin-left: 80px;
}

.nombre-temas li {
    margin-top: 3px;
}

.video-discografia {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-discografia video {
    width: 75%;
    padding: 10px;
    border: 1px solid white;
}

/* INICIO SECCION DISCOGRAFIA DETALLADA PARA MOBILE */
@media screen and (min-width: 992px){
    .discography-cd {
        transition: all 1.25s;
    }
    
    .discography-cd:hover {
        transform: scale(1.25);
    }
    
    .nombre-temas-mobile {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .nav-discography ul {
        padding-left: 0;
    }
    
    .tapa-cd, .spotify-cd, .nombre-temas-mobile, .video-discografia {
        margin-bottom: 15px;
    }

    .temas-cd {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .h3-discografia {
        margin-left: 0px;
    }

    .nombre-temas {
        display: none;
    }

    .nombre-temas-mobile {
        font-family: 'nunito';
        color: white;
        font-size: var(--size-text);
        margin-left: 0%;
    }

    .nombre-temas-mobile li {
        margin-bottom: 8px;
    }
}
/* FIN SECCION DISCOGRAFIA DETALLADA PARA MOBILE */

/* Fin estilo discografia*/


/*Estilos fechas */

h2{
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.informacion-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.informacion-fecha {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.informacion-fecha ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.informacion-fecha ul li {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.informacion-fecha ul li img  {
    width: auto;
    height: auto;
    margin-right: 6px;
}

.informacion-fecha ul li a {
    text-decoration: none;
}

.informacion-fecha ul li strong {
    font-family: 'nunito';
    font-size: 20px;
    color: white;
}

.maps-fecha {
    width: auto;
    height: 50%;
}

.poster-fecha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.descripcion-fecha {
    width: 100%;
    margin: 60px 0;

}

.descripcion-fecha h3 {
    font-family: 'lato';
    font-size: 28px;
    color: white;
    margin-left: 20px;
}

.descripcion-fecha p {
    text-align: justify;
}

.proximas-fechas h3 {
    font-family: 'nunito';
    color: white;
    font-size: 28px;
    text-align: center;
    border: 1px solid white;
    padding: 20px;
    margin: 30px;
    display: flex;
    justify-content: center;
}

/* INICIO SECCION FECHA PARA MOBILE */
@media screen and (max-width: 1199px) {
    .poster-fecha {
        display: none;
    }
}
/* FIN SECCION FECHA PARA MOBILE */
/*Fin estilo fechas*/


/* Estilo Footer */

footer {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 50%);
}

.image-footer {  
    display: flex;
    justify-content: center;
    align-items: center; 
}

@media screen and (max-width: 480px) {
    .image-footer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}

@media screen and (min-width: 481px) and (max-width: 980px) {
    .image-footer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}

.image-footer a {
    text-decoration: none;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

/* INICIO ANIMACIONES DE FOOTER PARA DESKTOP */
@media screen and (min-width: 992px){
    .image-footer-redes {
        transition: all 1.25s;
    }
    
    .image-footer-redes:hover {
        transform: scale(1.25);
    }
}
/*FIN ANIMACIONES DE FOOTER PARA DESKTOP*/

footer p {
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(172, 172, 172);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

@media screen and (max-width: 480px) {
    footer p {
        width: 90%;
        height: auto;
        text-align: center;
    }
}

/* Fin estilo Footer */