/* FONTS */
@font-face {
    font-family: 'clarendon-bold';
    src: url('../../fonts/Clarendon-Bold.ttf');
}

@font-face {
    font-family: 'lato';
    src: url('../../fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'nunito';
    src: url('../../fonts/Nunito-VariableFont_wght.ttf');
}